h1 {
    color: rgb(212, 47, 138);
}

h2 {
    color:rgb(166, 46, 206);
}

body {
    background-color: rgb(219, 183, 135);
    background-image: url(http://assets.stickpng.com/thumbs/5845e614fb0b0755fa99d7e8.png);    
}

button {
    color: rgb(37, 194, 28);
    background-color: slategray;
}


  
