h1 {
    color: rgb(212, 47, 138);
}

h2 {
    color:rgb(166, 46, 206);
}

body {
    background-color: rgb(219, 183, 135);
    background-image: url(/Front/chems.png);
    
}

button {
    color: rgb(37, 194, 28);
    background-color: slategray;
}


  
